.login {
  width: 30vw;
  padding: 40px 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 35%;
  justify-content: center;
  align-items: center;
}

.login .auth-link {
  text-decoration: none;
  color: #3C57F0;
}

.login .auth-btns {
  display: flex;
}

.login .auth-btns > * {
  margin-right: 20px;
}
