.login {
    width: 30vw;
    height: 70vh;
    padding: 40px 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 35%;
    justify-content: center;
    align-items: center;

    .auth-link{
      text-decoration: none;
      color: #357ae8
    }

    .auth-btns {
      display: flex;
      position: absolute;
      width: 25vw;
      right: 9%;
      justify-content: space-between;
    }

    .alt-text{
      text-align: center;
      margin-top: 8rem;
    }
  }